/* Regole generali */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, verdana, sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

a:hover {
  color: white;
}

/* Menu di navigazione */

#nav-menu {
  width: 20%;
  height: calc(100vh - 60px);
  background-color: black;
}

.logo {
  width: 50%;
  padding: 5% 2%;
}

.menu-aside {
  height: calc(100vh - 60px);
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
}

div.menu-item.top {
  height: 20%;
}

div.menu-item.center {
  max-height: 60%;
  overflow: auto;
}

div.menu-item.bottom {
  height: 30%;
  color: grey;
}

.menu-aside img{
  height: 20px;
  padding-right: 2%;
}

.menu-item li,a, h4 {
  text-decoration: none;
  list-style: none;
  color: grey;
  padding: 2% 2%;
  font-size: 12px;
}

.menu-item i {
  font-size: 40px;
  padding-right: 2%;
}

 /* Sezione Installa app e profile */

.install {
  border-bottom: 1px solid grey;
  padding: 2% 0;
}

.profile img {
  height: 30px;
  border: solid 1px grey;
  border-radius: 100%;
  padding: 2%;
  background-color: grey;
  margin: 2% 0 1% 0;
}

.profile li>a {
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
}
.select {
  border-left: 2px solid #adff2f;
}

.select a, h4 {
  color: white;
  font-weight: bolder;
}

/* Menu responsive */
#nav-menu-mobile {
  display: none;
}

@media all and (max-width: 767px) {
  #content-container {
    display: none;
  }
  .content-container-mobile {
    display: block;
    width: 90%;
    height: calc(100vh -60px);
    background-color: black;
    }

  footer {
    height: 60px;
  }

   #nav-menu {
    display: none;
  }
  #nav-menu-mobile {
    display: block;
    width: 10%;
    background-color: black;
  }
  #nav-menu-mobile img {
    height: 20%;
    padding: 5%;
    margin: 0 10%;
  }
  .menu-aside {
    justify-content: space-between;
  }
}

@media all and (min-width: 1190px) {
  div.menu-item.bottom {
    max-height: 30%;
  }
}
/* Sezione centrale */

  /* Menu principale */

div.menu-item.flex {
  justify-content: center;
}

.menu-item.flex>a:first-child {
  position: relative;
  color: white;
  font-weight: bold;
}
.menu-item.flex>a:first-child:after {
  content:"";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #adff2f;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* Barra upgrade */

#upgrade-bar {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
}

.button {
  color: white;
  font-size: 0.8rem;
  border: 1px solid white;
  border-radius: 20%;
  padding: 1% 2%;
  margin-right: 2%;
  text-align: center;
  transition: all width 1s ease;
}

.button:hover {
  transform: scale(1.1,1.1);
}

  /* Sezione playlist */

.content-container {
  width: 80%;
  height: calc(100vh - 60px);
  background-color: #121212;
  color: white;
  overflow: auto;
}

.main {
  width: 95%;
  margin: 0 auto;
}

.title {
  padding-top: 2%;
}

.title h4 {
  padding: 1% 0;
  color: grey;
}

.playlist-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 2%;
}

.box-img {
  width: calc(100% / 6);
  min-height: 200px;
}

.box-img img {
  width: 100%;
  padding: 2%;
}

.album {
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.album i {
  position: absolute;
  opacity: 0;
}

.album:hover {
  filter: opacity(0.4);
}

.album:hover i {
  opacity: 1;
}

.circle img {
  border-radius: 100%;
}

.caption {
  text-align: center;
  padding: 2% 0;
  color: grey;
}

.caption>h4 {
  color: white;
}

  /* Mediquery sezione playlist */
@media all and (max-width: 767px) {
  .content-container {
    display: none;
  }

  .content-container-mobile {
    display: block;
    width: 90%;
    height: calc(100vh - 60px);
  }
  .box-img {
    width: calc(100% / 2);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .box-img {
    width: calc(100% / 4);
  }
}

/* Footer - player */

#player {
  width: 100vw;
  height: 60px;
  background-color: #090909;
}

/* Regole di debug */
.container-footer {
  justify-content: space-between;
}

.footer-left {
  width: 20%;
  height: 60px;
  color: grey;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer-left img{
  height: 70%;
  padding-left: 3%;
  padding-right: 3%;
}

.name-album h6 {
  color: grey;
}

.name-album h5 {
  font-weight: bolder;
  color: white;
}

.icon {
  flex-direction: row;
  justify-content: center;
}

.icon a {
  color: white;
}

.footer-center {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.audio {
  width: 80%;
  margin: 0 auto;
  color: white;
  font-size: 0.8rem;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.audio i:last-child {
  position: relative;
}

.audio i:last-child:after {
  content:"";
  position: absolute;
  height: 4px;
  width: 300px;
  background-color: grey;
  left: 100%;
  bottom: 40%;

}

.footer-right {
  width: 20%;
  align-items: center;
  justify-content:center;
}

.icon-right {
  width: 100%;
}

/* Mediaquery footer */

@media all and (max-width: 600px) {
  .footer-left {
    max-width: 30%;
    justify-content: center;
    flex-wrap: nowrap;
  }
    }

    .footer-right {
      max-width: 30%;
      flex-wrap: nowrap;
    }


    .footer-center {
      max-width: 40%;
      flex-shrink: 1;
    }

    .audio i:last-child:after {
      width: 200px;
    }
  }
